footer {
    background-color: var(--pico-background-color);
    position: relative;
}

footer::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    height: 1px;
    width: 50%;
    transform: translateX(-50%) translateY(-1px);
    background-color: #ffffff;
}

/* footer p {
    color: var(--pico-background-color);
} */
